
.sidebar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  text-align: left;
  text-color: #ff0;
  text-height: 20;
  background-color: rgba(44, 109, 93, 0.75);
  color: #fff;
}

.sidebar a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover {
    background: #666;
}

.content {
    background: #adcbbd;
    text-height: 20;
    color: #f9f9f9
}

.nav {

}